volumes:
  postgres-data:

networks:
  dev:
    driver: bridge

services:
  app:
    build: .
    container_name: scrapper_app
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./dumps:/app/dumps
    networks:
      - dev
  postgres:
    image: postgres:16
    volumes:
      - ./postgres-data:/var/lib/postgresql/data/
      - ./dumps:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - dev
